@page
@model LeagueSkill.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="text-md-left mt-2">
    <img src="~/img/logo.png" class="img-fluid w-75" />
    <p class="lead">League Skill is a simple app that uses the <a href="https://developer.riotgames.com/">Riot Games Api</a> to fetch users data from League of Legends.</p>
    <p class="lead">Made using ASP.NET Core, HTML, CSS, Bootstrap, Razor Pages and C#.</p>
    <p class="lead">Check out the <a href="https://github.com/Svartskogen/LeagueSkillPage">Github Repo</a>.</p>
    <p class="lead">Web page hosted using Azure App Service.</p>
</div>