@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-1">League Skill</h1>
    <br />

    <form method="post">
        <input type="text" class="form-control" asp-for="Profile.Username" placeholder="Username" />
        <select class="form-control" asp-for="Region" asp-items="Model.RegionsList"></select>
        <button type="submit" class="form-control">Submit</button>
    </form>
    <br />

    @if (Model.ValidSearch)
    {
        if (Model.DataLoaded)
        {
            <h3 class="display-4">@Model.SummonerInfo.Name ranked stats:</h3>
            @foreach (RiotNet.Models.LeagueEntry entry in Model.Leagues)
            {
                <h5>@Utils.PrintLeagueData(entry)</h5>
            }
        }
        else
        {
            <h3 class="display-4 text-danger">Could not find a profile called @Model.Profile.Username</h3>
        }
    }
</div>
